<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Recruiter Application</title>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/css/bootstrap.min.css">
</head>
<body>

    <!-- Container where the different pages will be loaded -->
    <div class="container">
        <h1>myStay — simplified hotel browsing!</h1>
        <hr/>
        <div class="summary"></div>
        <div class="hotels"></div>
    </div>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js" type="text/javascript"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>

    <!-- View to add a new recruiter -->
    <script type="text/template" id="hotel-names">

        <% _.each(hotels, function(hotel) { %>
            <button class="btn btn-primary load-summary" data-hotel="<%= hotel.get('_id')%>">
                <%= htmlEncode(hotel.get('name')) %>
            </button>
        <% }); %>
    </script>

    <script type="text/template" id="hotel-summary">
        <div class="well">

            <div class="row-fluid">
              <div class="span4"><img src="<%= hotel.get('imgLink')%>"></img></div>
              <div class="span4">
                  <h3><%= htmlEncode(hotel.get('name')) %></h3>
                  <h5>Rating : <%= htmlEncode(hotel.get('rating')) %></h5>
                  <h5>Likes : <%= htmlEncode(hotel.get('likes')) %></h5>
              </div>
              <div class="span4">
                  <table class="table">
                      <tbody>
                        <tr>
                            <th><i class="icon-map-marker"></i> Location</th>
                            <td><%= htmlEncode(hotel.get('location')) %></td>
                        </tr>
                        <tr>
                            <th><i class="icon-time"></i> Checkin hours</th>
                            <td><%= htmlEncode(hotel.get('checkIn')['from']) %> - <%= htmlEncode(hotel.get('checkIn')['to']) %></td>
                        </tr>
                        <tr>
                            <th><i class="icon-signal"></i> Wifi</th>
                            <td><%= hotel.get('wifi') ? "Available" : "Not Available" %></td>
                        </tr>
                        <tr>
                            <th><i class="icon-folder-open"></i> Credit Card</th>
                            <td><%= hotel.get('creditCard') ? "Acceptable" : "Not Acceptable" %></td>
                        </tr>
                        <tr>
                            <th><i class="icon-briefcase"></i> Cash</th>
                            <td><%= hotel.get('cash') ? "Acceptable" : "Not Acceptable" %></td>
                        </tr>
                      </tbody>
                  </table>
              </div>
            </div>
            <hr/>

            <div class="row-fluid">
              <div class="span12" style="background: #fff; padding: 10px; margin-bottom: 10px">
                  <h5><%= htmlEncode(hotel.get('description')) %></h5>
              </div>
            </div>

            <div class="row-fluid">
              <div class="span6">
                  <table class="table table-bordered">
                      <tbody>
                          <tr>
                              <th>Deluxe Room</th>
                              <td><%= htmlEncode(hotel.get('deluxeRoom')) %></td>
                          </tr>
                          <tr>
                              <th>Executive Room</th>
                              <td><%= htmlEncode(hotel.get('executiveRoom')) %></td>
                          </tr>
                          <tr>
                              <th>Conservator Room</th>
                              <td><%= htmlEncode(hotel.get('conservatoryRoom')) %></td>
                          </tr>
                          <tr>
                              <th>Junior Suite - Suite Dreams</th>
                              <td><%= htmlEncode(hotel.get('juniorSuiteSuiteDreams')) %></td>
                          </tr>
                          <tr>
                              <th>Distanc From Airport</th>
                              <td><%= htmlEncode(hotel.get('distanceFromAirport')) %></td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              <div class="span6">

                  <table class="table table-bordered">
                      <tbody>
                          <tr>
                              <th>Bar</th>
                              <td><%= htmlEncode(hotel.get('barTimings')['from']) %> - <%= htmlEncode(hotel.get('barTimings')['to']) %></td>
                          </tr>
                          <tr>
                              <th>Air Conditioner</th>
                              <td><%= hotel.get('airConditioner') ? "Yes" : "No" %></td>
                          </tr>
                          <tr>
                              <th>Gym</th>
                              <td><%= hotel.get('gym') ? "Yes" : "No" %></td>
                          </tr>
                          <tr>
                              <th>Pool</th>
                              <td><%= hotel.get('pool') ? "Yes" : "No" %></td>
                          </tr>
                      </tbody>
                  </table>
              </div>
            </div>
            <i class="icon-download-alt"></i> <a href="<%= hotel.get('manualLink')%>">Download Manual</a>
        </div>
    </script>

    <script>
        $.ajaxPrefilter( function( options, originalOptions, jqXHR ) {
            options.url = 'http://localhost:8000' + options.url;
        });
        function htmlEncode(value){
          return $('<div/>').text(value).html();
        }
        $.fn.serializeObject = function() {
          var o = {};
          var a = this.serializeArray();
          $.each(a, function() {
              if (o[this.name] !== undefined) {
                  if (!o[this.name].push) {
                      o[this.name] = [o[this.name]];
                  }
                  o[this.name].push(this.value || '');
              } else {
                  o[this.name] = this.value || '';
              }
          });
          return o;
        };


        /////////////// Models /////////////////////////
        var Hotel = Backbone.Model.extend({
            urlRoot: '/hotels'
        });

        ////////////// Collections //////////////////////

        var HotelNames = Backbone.Collection.extend({
            url: '/hotels/names'
        });

        ////////////// Views ////////////////////////////
        var HotelNamesView = Backbone.View.extend({
            el: '.hotels',

            events: {
                'click .load-summary': 'loadSummary'
            },

            loadSummary: function(ev) {
                var hotel_id = $(ev.currentTarget).data('hotel');
                hotelSummaryView.render(hotel_id);
            },

            render: function() {
                var that = this;
                var hotels = new HotelNames();
                hotels.fetch({
                    success: function(hotels) {
                        var template = _.template($('#hotel-names').html(), {hotels: hotels.models});
                        that.$el.html(template);
                    }
                });
            }

        });
        var hotelNamesView = new HotelNamesView();

        var HotelSummaryView = Backbone.View.extend({
            el: '.summary',

            render: function(hotel_id) {
                var that = this;
                var hotel = new Hotel({id: hotel_id});
                hotel.fetch({
                    success: function(hotel) {
                        console.log(hotel);
                        var template = _.template($('#hotel-summary').html(), {hotel: hotel});
                        that.$el.html(template);
                    }
                });
            }
        });
        var hotelSummaryView = new HotelSummaryView();

        /////////////// Router ///////////////////////////
        var Router = Backbone.Router.extend({
            routes: {
                "": "home"
            }
        });
        var router = new Router;

        router.on('route:home', function() {
            hotelNamesView.render();
        });

        Backbone.history.start();
    </script>
</body>
</html>
